# ==========================================
# TEMPLATE ENVIRONMENT BACKEND NIKAHUB
# (Copy file ini ke .env lalu sesuaikan nilai sesuai kebutuhan)
# ==========================================

# Port Server Backend Express
PORT=5000

# Secret Key Token
JWT_SECRET=nikahub_wedding_atelier_secret_key_2026

# URL Client Frontend Vite
FRONTEND_URL=http://localhost:5173

# Nomor WA Official Concierge
WHATSAPP_NUMBER=6281234567890

# Connection URI Database
DATABASE_URL=mongodb://localhost:27017/nikahub_wedding

# Environment Mode
NODE_ENV=development
